@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 800px;
  --foreground-color: rgb(20, 20, 20);
  --background-start-color: rgb(209, 242, 251);
  --background-end-color: rgb(239, 239, 239);
  --universe-start-color: rgb(20, 20, 20);
  --universe-end-color: rgb(20, 20, 20);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: rgb(237, 237, 237);
    --background-start-color: rgb(5, 3, 15);
    --background-end-color: rgb(2, 2, 2);
    --universe-start-color: rgb(157, 93, 242);
    --universe-end-color: rgb(107, 171, 188);
  }
}

body {
  color: var(--foreground-color);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-color)
    )
    var(--background-start-color);
  overflow-x: hidden;
  padding: 2rem;
}

h2 {
  background: linear-gradient(
      90deg,
      var(--universe-start-color) 0%,
      var(--universe-end-color) 20%
    )
    var(--universe-start-color);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
