.main {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  width: var(--max-width);
  max-width: 100%;
  margin-bottom: 2rem;
}

.section {
  margin-bottom: 2rem;
}

.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  display: flex;
}

.profile img {
  border-radius: 20%;
  border: 0.4rem solid var(--primary-glow);
}

.repo {
  min-width: 48px;
  margin-top: 1rem;
  opacity: 0.7;
}

.more {
  margin-top: 1.2rem;
  opacity: 0.9;
}

.icons {
  opacity: 0.7;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  width: var(--max-width);
  max-width: 100%;
}

.footer {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  width: var(--max-width);
  max-width: 100%;
}

.footer small {
  opacity: 0.3;
}
