.contacts {
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;

    .icon {
      opacity: 0.7;
      width: 2rem;
      height: 2rem;
      padding: 0.3rem 0.3rem 0.3rem 0;
    }
  }
}
