.posts {
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 0.1rem solid black;
  background-color: rgb(236, 236, 236);
  border-radius: 0.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-color: black;
  z-index: 2;
}
