.commits {
  .items {
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0.6))
    );
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.6)
    );

    .message {
      margin-top: 0.4rem;
      min-width: 48px;
    }

    .date_time {
      margin-top: 0.6rem;
      margin-bottom: 0.8rem;
      font-size: 0.8rem;
      opacity: 0.6;
    }
  }

  .more {
    margin-top: 0.6rem;
    opacity: 0.9;
  }
}
