.header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  width: var(--max-width);
  max-width: 100%;
  margin-bottom: 2rem;

  .icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}
