.languages {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0.6))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6));

  .language {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;

    .bar_container {
      display: flex;
      margin-left: 1rem;
      width: 100%;
      height: 100%;

      .bar {
        border: 1px solid;
        background-color: rgb(var(--foreground-rgb));
        border-radius: 0.2rem;
        opacity: 0.9;
      }
    }

    .name {
      margin-left: 0.6rem;
      opacity: 0.8;
      font-size: small;
    }
  }
}
