.profile {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  img {
    width: 100px;
    height: 100px;
    border-radius: 20%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.card {
  background: linear-gradient(135deg, #5951ed, #656566);
  border-radius: 20px;
  padding: 40px;
  color: #fff;
  width: 80%;
  max-width: 60rem;
  height: 80%;
  max-height: 50rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    width: 100%;
    max-width: 40rem;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 140px;
      height: 140px;
      border-radius: 20%;
      align-self: center;
    }

    h2 {
      margin-top: 1rem;
      font-size: 1.5rem;
      text-align: center;
    }

    p {
      margin-top: 1rem;
      font-size: 1rem;
    }

    .favorites {
      width: 100%;
      max-width: 40rem;
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      width: 100%;
      align-items: center;

      p {
        font-size: 6rem;
        text-align: center;
      }
    }

    .tips {
      list-style: disc;
      max-width: 40rem;

      a {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 600px) {
  .profile {
    img {
      width: 80px;
      height: 80px;
    }
  }

  .card {
    background: linear-gradient(135deg, #5951ed, #656566);
    border-radius: 20px;
    padding: 30px;
    color: #fff;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
      img {
        width: 80px;
        height: 80px;
      }

      .favorites {
        p {
          font-size: 4rem;
        }
      }
    }
  }
}
